$orange: #F79A64;
$green: #a4d9a5;
$darkerGreen: #6da16e;
$darkerOrange: #c37243;
$blue: #B8E1FF;
$black: #161411;

// background colors ----------------------------------------------------------------------------------------------------------------

// orange ----
.bg-orange {
    background-color: $orange;
}

.hover-orange:hover {
    background-color: $darkerOrange;
}

.text-orange {
    color: $orange !important;
}


// green -------
.bg-green {
    background-color: $green; 
}

.hover-green:hover {
    background-color: $darkerGreen;
}

.text-green {
    color: $darkerGreen !important;
}