@use '_colors.scss';


// little image sizes ------------------------------------------------------------------------------------------------------------
.fa-solid {
    font-size: 30px;
}

// invisible stuff (there are 2 cause of javascript stuff) -------------------------------------------------------------------------
.invisible {
    visibility: hidden;
}

.invisible2 {
    visibility: hidden;
}



// add Player button ----------------------------------------------------------------------------------------------------------------
#addPlayer {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-color: rgb(58, 135, 58);
}

//fonts and titles----------------------------------------------------------------------------------------------------------------

.myFont {
    font-family: 'DM Serif Text', serif;
}

.myTitle {
    font-size: 45px;
}

// body image ----------------------------------------------------------------------------------------------------------------
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
